<footer class="footer">
    <div class="footer_social">
        <a href="{{ github }}" target="_blank" aria-label="Github" title="Visit Dennoh's Github profile"
            rel="nofollow noopener noreferrer">
            <i data-feather="github"></i>
        </a>
        <a href="{{ gitlab }}" target="_blank" aria-label="Gitlab" title="Visit Dennoh's Gitlab profile"
            rel="nofollow noopener noreferrer">
            <i data-feather="gitlab"></i>
        </a>
        <a href="{{ devpost }}" target="_blank" aria-label="Devpost" title="Visit Dennoh's Devpost profile"
            rel="nofollow noopener noreferrer">
            <i data-feather="alert-octagon"></i>
        </a>
        <a href="{{ twitter }}" target="_blank" aria-label="Twitter" title="Visit Dennoh's Twitter profile"
            rel="nofollow noopener noreferrer">
            <i data-feather="twitter"></i>
        </a>
        <a href="{{ linkedIn }}" target="_blank" aria-label="LinkedIn" title="Visit Dennoh's LinkedIn profile"
            rel="nofollow noopener noreferrer">
            <i data-feather="linkedin"></i>
        </a>
    </div>
    <div class="footer_meta">
        &copy; <a href="{{ github }}" target="_blank" rel="nofollow noopener noreferrer" class="link">
            {{ author }}</a> {% now 'Y' %}.
    </div>
</footer>