@import url("https://rsms.me/inter/inter.css");
@import url("https://use.typekit.net/cyw3eir.css");
:root {
  --primary-color: #0070f4;
  --secondary-color: #666666;
  --font-color: #000000;
  --bg-color: #ffffff;
  --heading-color: #000000;
  --highlight-color: forestgreen;
  --hr-color: #eeeeee;
  --post-body: #444444;
  --uses-secondary-color: darkslategray;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #dce4ff;
  --font-color: #ffffff;
  --bg-color: #010101;
  --heading-color: #ffffff;
  --highlight-color: #08fdd8;
  --hr-color: #222222;
  --post-body: #cccccc;
  --uses-secondary-color: #afbbe2;
}

::-moz-selection {
  background: var(--highlight-color);
}
::selection {
  background: var(--highlight-color);
}

* {
  transition: background 0.2s linear;
}
html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* utils */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 24px;
}
.link {
  color: var(--highlight-color);
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px var(--hr-color) solid;
  margin: 45px 0;
}
.placeholder {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}
@media only screen and (min-width: 576px) {
  .container {
    width: 560px;
    max-width: 100%;
  }
}

.row {
  margin: 0px -8px 0px -8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-md-12,
.col-md-6 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
p {
  margin: 4px 0 10px;
}
/* navbar */
.wrapper nav {
  padding: 20px 10px 10px;
}
.wrapper nav ul {
  margin: 3px 0 0 -7px;
  padding: 0;
  display: flex;
}
.wrapper nav ul li {
  display: inline;
  margin-right: 5px;
}
.wrapper nav ul li a {
  color: var(--heading-color);
  font-family: ibm-plex-mono, Monaco, "Lucida Console";
  padding: 0 0 3px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 10px 5px;
  border-radius: 4px;
}
.wrapper nav ul li a:hover {
  background: var(--highlight-color);
  color: var(--bg-color);
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  background: var(--bg-color);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.dashboard {
  display: flex;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
.wrapper nav .controls {
  margin-left: auto;
}
.switch-theme-button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--heading-color);
  outline: 0;
}
.switch-theme-button:hover {
  color: var(--highlight-color);
}
.theme-switch-button svg {
  fill: var(--heading-color);
}
/* Home Section */
.home {
  padding: 20px 5px;
}
.home a {
  text-decoration: none;
}
.home .short-intro {
  color: var(--highlight-color);
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 3px;
}
.name {
  line-height: 1.1;
  margin: 0;
  font-size: 45px;
}
@media (max-width: 30em) {
  .name {
    font-size: 40px;
  }
}
.home .subtitle {
  line-height: 1.2;
  color: var(--uses-secondary-color);
  margin: 10px 0 20px;
  font-size: 50px;
}
@media (max-width: 30em) {
  .home .subtitle {
    font-size: 45px;
  }
}
.description {
  margin-top: 20px;
  line-height: 1.3;
  font-size: 20px;
  color: var(--secondary-color);
}
@media (max-width: 48em) {
  .description {
    margin-top: 15px;
    font-size: 18px;
  }
}

.btn_get_in_touch .btn_outline {
  color: var(--highlight-color);
  background-color: transparent;
  font-size: 14px;
  line-height: 1;
  margin-top: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--highlight-color);
  border-image: initial;
  border-radius: 3px;
  padding: 1.25rem 1.75rem;
  display: inline-block;
}

@media (max-width: 48em) {
  .btn_get_in_touch .btn_outline {
    margin-top: 25px;
  }
}

/* post cards */
.post-card {
  padding: 0px;
}
.post-card .post-date {
  padding-right: 20px;
  font-size: 14px;
  color: var(--secondary-color);
}
@media only screen and (max-width: 960px) {
  .post-card .post-date {
    text-align: left;
    padding: 10px 0;
  }
}

.post-card a {
  color: var(--heading-color);
  display: inline-block;
  padding: 5px 0;
  position: relative;
  margin-top: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .post-card a {
    margin-top: 0;
  }
}

.post-card span {
  display: inline-flex;
  align-items: center;
}
.post-card .post-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.9em;
}
.page_title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -0.2rem;
  margin: 50px 0 30px;
}
.about-intro,
.tools-intro {
  font-size: 17px;
  line-height: 1.8em;
  color: var(--secondary-color);
  margin-top: 10px;
}
.about-intro a,
.tools-intro a {
  color: var(--heading-color);
  text-decoration: none;
  border-bottom: 1px var(--heading-color) dashed;
}
.uses-list h4 {
  font-weight: 600;
  font-size: 25px;
}
.uses-list ul {
  list-style: none;
  padding: 0;
  font-family: ibm-plex-mono, Monaco, "Lucida Console";
}
.uses-list ul li {
  color: var(--uses-secondary-color);
  padding: 15px 0;
}

@media only screen and (max-width: 960px) {
  .uses-list ul li {
    padding-bottom: 25px;
  }
}
.uses-list ul li:before {
  content: "//";
  color: var(--uses-secondary-color);
  padding-right: 10px;
}
.uses-list ul li a {
  color: var(--heading-color);
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 3px;
}

.skills {
  display: grid;
  grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
  overflow: hidden;
  padding: 0px;
  list-style: none;
  margin: 20px 0px 0px;
}

.skills li {
  position: relative;
  margin-bottom: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
}
/* Footer */

.footer {
  bottom: 0;
  /* position: absolute; */
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 70px;
  margin: 30px 0 0;
  color: var(--secondary-color);
}

.footer_meta {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  line-height: 1.5;
}

.footer_social {
  width: 80%;
  display: none;
  margin: 5px auto 10px;
}

.footer_social ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer_social ul li a {
  padding: 10px;
  text-decoration: none;
  color: currentColor;
}

@media (max-width: 48em) {
  .footer_social {
    display: block;
  }
}
