<!DOCTYPE html>
<html data-theme="dark" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% asset 'index.css' %}">
    <link rel="stylesheet" href="{% asset 'iconify.css' %}">
    {% block page_css %} {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% import 'utils.html' as utils %}
        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}
    </div>
    <script src="{% asset 'base.js' %}"></script>
    {% block page_js %} {% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166959153-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-166959153-1');
    </script>


</body>

</html>