{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% asset 'blog.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row lead">
        <h1 class="title">std::blog</h1>
        <div class="tag-list-wrapper">
            <ul class="tag-list">
                {% for tag in tags %}
                <li class="tag-list__item">
                    <span class="tag-list__link">{{ tag.name }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="feed">
            {% for article in articles %}
            <article class="feed__post">
                <div class="post-card">
                    <a href="{% url 'article', article %}">
                        <div class="post-card__feature-image"
                            style="background-image:url({% asset 'images/' %}{{ article.cover[0].name }})">
                        </div>
                    </a>
                    <div class="post-card__header">
                        <div class="post-card__meta">
                            <span class="post-card__tag">
                                {% for tag in article.tags %}
                                <span class="_tag"> {{ tag.name }} </span>
                                {% endfor %}
                            </span>
                            <span class="post-card__date">{{ article.published }}</span>
                        </div>
                        <h2 class="post-card__title">
                            <a href="{% url 'article', article %}"> {{ article.title }} </a>
                        </h2>
                    </div>
                    <div class="post-card__excerpt">
                        {{ article.excerpt }}
                    </div>
                    <div class="post-card__footer">
                        <img src="{% asset 'favicon/android-chrome-512x512.png' %}" class="post-card__profile-image"
                            alt="{{ article.author }}">
                        {{ article.author }}
                    </div>
                </div>
            </article>
            {% else %}
            <div>
                <p>Articles will appear</p>
            </div>
            {% endfor %}
        </div>
        <div class="placeholder"> </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% asset 'blog.js' %}"></script>
{% endblock extra_js %}