{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{% asset 'index.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="row hero">
        <div class="intro">
            <h3>{{ home.title }}</h3>
            <h1>{{ home.name|title }}</h1>
            <h2>{{ home.subtitle }}</h2>
            {{ home.content|safe }}
        </div>
        <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/29105876?s=460&u=d3a0ca8c98cb49fe4a72d20121fc4c43b1ffcfc9&v=4" alt="{{ author }}">
        </div>
    </div>
    <div class="row">
        {% for article in articles %}
        <div class="post-card">
            <div class="post-date">{{ article.published|datetimeformat('%B %d, %Y') }}</div>
            <a href="{% url 'article', article %}">
                <span class="post-title">
                    {{ article.title }}
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}