{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="home">
                <h4 class="short-intro">{{ home.title }}</h4>
                <h1 class="name">{{ home.name }}</h1>
                <h2 class="subtitle"> {{ home.subtitle }}</h2>
                <div class="description">
                    {{ home.content|safe }}
                </div>
                <div class="btn_get_in_touch">
                    <a href="mailto:{{ mail }}" class="btn_outline">{{ home.contactText }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="post-card">
                        <div class="col-md-12">
                            <div class="post-date">May 10, 2020</div>
                        </div>
                        <div class="col-md-12">
                            <a href="">
                                <span class="post-title">
                                    Blog Title Testing
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-card">
                        <div class="col-md-12">
                            <div class="post-date">May 10, 2020</div>
                        </div>
                        <div class="col-md-12">
                            <a href="">
                                <span class="post-title">
                                    Blog Title Testing
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-card">
                        <div class="col-md-12">
                            <div class="post-date">May 10, 2020</div>
                        </div>
                        <div class="col-md-12">
                            <a href="">
                                <span class="post-title">
                                    Blog Title Testing
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}