{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% asset 'projects.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row lead">
        <h1 class="title">Import projects</h1>
        <div class="projects_wrapper">
            {% for project in projects %}
            <div class="project_card">
                <div class="card_image">
                    <div class="img-container">
                        <img src="https://placehold.it/300x150" alt="{{ project.name }}">
                    </div>
                </div>
                <div class="card_body">
                    <h3 class="card_title">{{ project.name | upper }}</h3>
                    {{ project.description | truncate(130) }}
                </div>
                <div class="card_footer">
                    <span class="see_project">
                        <a href="{{ project.github }}" target="_blank" rel="noopener noreferrer">See project</a>
                    </span>
                    {% if project.category == "web" %}
                    <span class="project_link">
                        <a href="{{ project.external_link }}" target="_blank" rel="noopener noreferrer">
                            Visit
                            <i data-feather="external-link"></i>
                        </a>
                    </span>
                    {% elif project.category == "app" and project.external_link !='' %}
                    <span class="project_link">
                        <a href="{% asset 'releases/' %}{{ project.external_link }}" target="_blank"
                            rel="noopener noreferrer">
                            <i data-feather="plus"></i>
                            Install
                        </a>
                    </span>
                    {% else %}
                    <span class="project_link" style="order: -1;">
                    </span>
                    {% endif %}


                </div>
            </div>
            {% else %}
            {{ utils.placeholder('Projects') }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}